@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-brand-400: #34d399;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-base-50: #fafafa;
  --color-base-100: #f4f4f5;
  --color-base-200: #e4e4e7;
  --color-base-400: #a1a1aa;
  --color-base-500: #71717a;
  --color-base-600: #52525b;
  --color-base-700: #3f3f46;
  --color-base-800: #27272a;
  --color-base-900: #18181b;
  --color-base-950: #09090b;
}

body {
  background: var(--color-base-950);
  color: var(--color-base-50);
  font-family: var(--font-body);
}